

.container1{
                height: 500px;
                max-width: 1000px;
                border: 2px solid green;
                display: flex;
                justify-content:space-around;
                flex-direction: column-reverse;
                           

}

.box{

        width: 100px;
        height: 100px;
        border: 2px solid grey;
        background-color: black;
        

        

}

.container2{

    
    height: 500px;
    max-width: 1000px;
    border: 2px solid green;
    display: flex;
    justify-content:space-around;
    flex-direction:row-reverse;
    align-items: center;
}


.container3{  
    height: 500px;
    max-width: 1000px;
    border: 2px solid green;
    flex-direction:column;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    
}


.container4{  
    height: 500px;
    max-width: 1000px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container5{  
    max-width: 1000px;
    display: flex;
    border: 2px solid green;
    align-items: stretch;
    height: 500px;
    }

